.popup__close-popup_scope_picture{
  border: none;
  outline: none;
  background: none;

  position: fixed;
  right: -45px;
  top: -45px;

  transition: 0.2s;

  cursor: pointer;
}

.popup__close-popup_scope_picture:hover{

  opacity: 0.6;
}
