.no-cards{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  transition: 0.5s;
  opacity: 1;

  animation: appearenceAnim .3s ease-out;

}

@keyframes appearenceAnim {
  0% { opacity: 0; transform: translateY(-100%); }
100% { opacity: 1; transform: translateY(0); }
}
