.profile{

  display: grid;

  grid-template-columns: max-content 540px 1fr;
  grid-template-rows: repeat(2,auto);

  grid-template-areas:
    "photo name-and-edit-button add-button"
    "photo description add-button";

  gap: 0 20px;

  margin-top: 50px;
  margin-bottom: 50px;

  width: 100%;

  background-color: black;
}



@media screen and (max-width: 898px){
  .profile{

    width: 450px;
    margin-left: auto;
    margin-right: auto;

    grid-template-columns: 450px;
    grid-template-rows: repeat(5, auto);

    grid-template-areas:
      "photo"
      "name-and-edit-button"
      "description"
      "add-button";
  }
}

@media screen and (max-width: 600px){
  .profile{

    width: 290px;
    grid-template-columns: 282px;
  }
}
