.profile__edit-profile{

  border: none;
  outline: none;
  background-image: url("../../../images/profile/edit-button.svg");
  background-color: transparent;

  width: 24px;
  height: 24px;

  cursor: pointer;

  transition: 0.2s;

  margin-top: 5px;
}

.profile__edit-profile:hover{

 opacity: 0.6;
}

@media screen and (max-width: 898px){
  .profile__edit-profile{

    background-image: url("../../../images/profile/mobile-edit-button.svg");
    background-repeat: no-repeat;

    margin-top: 7px;
    padding: 0;
  }
}
