.profile__description{

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  width: 90%;
  margin: 0;
  padding:0;

  cursor: default;

  grid-area: description;
}

@media screen and (max-width: 898px){
  .profile__description{

    margin: 0 auto 35px auto;

    text-align: center;

    font-size: 14px;
    line-height: 17px;
  }
}
