.common{

  font-family: 'Inter','Arial', 'Helvetica', sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  color: white;
  background-color: black;

  min-width: 320px;

}

