.popup__form-label{

  display: flex;
  flex-direction: column;

  position: relative;

  margin-bottom: 45px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;

}

@media screen and (max-width: 600px){
  .popup__form-label{

    margin-bottom: 65px;
  }
}
